{# <div class="card" style="width: 18rem;">
  <img src="{{ album.cover }}" class="card-img-top" alt="image_album">
  <div class="card-body">
    <h5 class="card-title">{{ album.name }}</h5>
    <p class="card-text">{{ album.releaseYear }}</p>
    <p class="card-text">{{ album.artist }}</p>
    <a href="#" class="btn btn-primary">Voir +</a>
  </div>
</div> #}